---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

BISC 483: Geobiology and Astrobiology

Relationships between microbiota and the earth environment including the hydrosphere, lithosphere and atmosphere, with consideration of the potential for life on other planets. 
Prerequisite: (BISC 120Lg or BISC 121Lg) and (CHEM 105bL or CHEM 108L) 

with Doug Capone
Spring 2021

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
